@using Schoolio.ViewModels.Teacher
@model StudentNotesViewModel

@{
    ViewBag.Title = "Student Notes";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title: @Model.SubjectName - @Model.StudentName</h2>
    </div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                <strong>
                    #
                </strong>
            </th>
            <th>
                Note
            </th>
            <th>
                Comment
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
    @{ var i = 0;}
    @foreach (var item in Model.Notes)
    {
        <tr>
            <td>
                @(i++)
            </td>
            <td>
                @item.Value
            </td>
            <td>
                @item.Comment
            </td>
            <td>
                @item.Date.ToString("dd.MM.yyyy")
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td>
                Average
            </td>
            <td>
                @Model.Average
            </td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>