@using Schoolio.ViewModels.Teacher
@model SubjectViewModel

@{
    ViewBag.Title = "Subject";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title: @Model.SubjectName</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("SubjectType", "Teacher", new {id = Model.SubjectTypeId})" class="btn btn-default">Subject Type</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Hours</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var item in Model.Hours)
            {
                <li>
                    @item
                </li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Students: @Model.ClassName</h3>
    </div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                <strong>
                    #
                </strong>
            </th>
            <th>
                Student Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("StudentNotes", "Teacher", new {studentId = item.Id, subjectId = Model.SubjectId})" class="btn btn-default">See notes</a>
                    <a href="@Url.Action("AddStudentNote", "Teacher", new {studentId = item.Id, subjectId = Model.SubjectId})" class="btn btn-default">New note</a>
                </td>
            </tr>
        }
    </tbody>
</table>